*
{
	margin: 0px;
	padding:0px;
}

#logo
{
	background-color: #ffa726;
	width: 100px;
	height: 29px;
	float: left;
	margin-left: 300px;
}

#titulo
{
	background-color: #ffa726;
	width: 500px;
	height: 29px;
	float: left;
}

#configuracion1
{
	background-color: #ffa726;
	width: 80px;
	height: 23px;
	float: left;
	padding: 3px 4px;
}

#contenedor
{
	background-color: #70b22e;
	width: 100px;
	height: 700px;
	margin-left: 300px;
}

#espacio
{
	background-color: #70b22e;
	width: 100px;
	height: 80px;
}

#Ultimo1
{
	background-color: #70b22e;
	width: 100px;
	height: 100px;
}

#Ultimo1:hover
{
	background-color: #ffa726;
	width: 100px;
	height: 100px;
	border-radius: 10px 10px 10px 10px;
}

#Añadir1
{
	background-color: #70b22e;
	width: 100px;
	height: 100px;
}

#Añadir1:hover
{
	background-color: #ffa726;
	width: 100px;
	height: 100px;
	border-radius: 10px 10px 10px 10px;
}

#Inventario1
{
	background-color: #70b22e;
	width: 100px;
	height: 100px;
}

#Inventario1:hover
{
	background-color: #ffa726;
	width: 100px;
	height: 100px;
	border-radius: 10px 10px 10px 10px;
}

#Prestamos1
{
	background-color: #70b22e;
	width: 100px;
	height: 100px;
}

#Prestamos1:hover
{
	background-color: #ffa726;
	width: 100px;
	height: 100px;
	border-radius: 10px 10px 10px 10px;
}

#Historial1
{
	background-color: #70b22e;
	width: 100px;
	height: 100px;
}

#Historial1:hover
{
	background-color: #ffa726;
	width: 100px;
	height: 100px;
	border-radius: 10px 10px 10px 10px;
}

